.tarjeta {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
}

.tarjeta:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.imagen {
  width: 100%;
  max-width: 350px;
  height: auto;
  min-height: 350px;
  border-radius: 4px;
}

.info {
  margin-top: 0.5rem;
}

.descripcion {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.tarjeta.hovered .descripcion {
  opacity: 1;
}

button {
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  background-color: #4caf50;
  color: white;
  font-size: medium;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
