/* VistaNosotras.css */

.nosotras {
  padding: 2rem;
  text-align: center;
  background-color: white;
  color: black;
  margin-top: 0rem;
}

.nosotras-img {
  max-width: 1000px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 1rem auto;
  display: block;
  object-fit: cover;
}

.nosotras-parrafo {
  font-size: 1.2rem;
  max-width: 700px;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  margin-left: auto; /* Centra el bloque de texto horizontalmente */
  margin-right: auto; /* Centra el bloque de texto horizontalmente */
  text-align: justify;
  justify-content: center;
  align-items: center;
  color: black
}
