
/* Sección Formulario */

.formulario-seccion {
  padding: 2rem;
  text-align: center;
}

/* Acceso a clase .nosotros-seccion, .nosotros-formulario, .formulrio-grupo, .formulario-grupo label */

.seccion-formulario {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formulario-grupo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formulario-grupo label {
  margin-bottom: 0.5rem;
  font-size: medium;
  color: black;
}

h2{
  font-size: 2.8rem;
  text-align: center;
  color: rgb(15, 77, 8);
}

p{
  font-size: medium;
  text-align: center;
}

/* Acceso a clase .formulario-grupo input, .formulario-grupo textarea */

.formulario-grupo input,
.formulario-grupo textarea {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: black;
}

/* botón submit */

button[type="submit"] {
  padding: 0.75rem;
  background-color: rgb(15, 77, 8);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: rgb(15, 77, 8);
}
