.titulo{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    color:rgb(109, 251, 128);
    text-align: center;
}
/*.titulo img{     -- acá manejaré logo
    width: 200px;
    height: 200px;
}*/

